.wrapper {
    width: 350px;
    height: 350px;
    padding: 20px;
    border-radius: 30px;

    background: radial-gradient(circle at top, rgba(35,42,52,255) 4%, rgba(23,30,40,255) 60%);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.star {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: #252d37;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: #9ca3ad;
    margin-bottom: 5px;
}

.ratings {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
}

.ratings button {
    height: 50px;
    width: 50px;
    background-color: #262f38;
    border: none;
    border-radius: 50%;

    font-size: 15px;
    font-weight: 700;
    color: #7f8792;

    cursor: pointer;
}

.ratings button:hover {
    background-color: #7f8c9a;
    color: #ffffff;
}

.ratings button:focus {
    background-color: #fc7613;
    color: #ffffff;
}

.submit {
    height: 40px;

    background-color: #fc7613;
    border-radius: 20px;
    border: none;

    font-size: 14px;
    font-weight: 700;
    color: #ffffff;

    cursor: pointer;
}

.submit:focus {
    background-color: #ffffff;
    color: #fc7613;
}